<ion-content>
	<ul class="list">
					
					
					<li style="font-size: 30px; position: relative;">
						<img src="img/person_01.png" width="100%"/>
						<div class="me">
							<img src="img/person_touxiang.png"  width="100px" height="100px"/>
							<img src="img/person_03.png" class="me_left" />
							<img src="img/person_04.png" class="me_right" />
							<p class="me_text">{{data.userName}}</p>
						</div>
						
					</li>
				
					
					<li class="item item-icon-left">
						<i class="icon ion-ios-person-outline"></i>用户名
						<span class="item-note">{{data.userName}}</span>
					</li>
					
					<li class="item item-icon-left">
						<i class="icon ion-ios-email-outline"></i> 我的邮箱
						<span class="item-note">{{data.email}}</span>
					</li>
					 
					<li class="item item-icon-left">
						<i class="icon ion-ios-telephone-outline"></i> 我的手机号
						<span class="item-note">{{data.phone}}</span>
					</li> 
  
					
				</ul>
				<div class="text-center">
				<a class="button button-positive" ng-click="enterBlack()">退出登录</a>
				</div>

</ion-content>